.contact {
    padding: 4rem 2rem;
    background: var(--color-primary-white);
    text-align: center;
  
    h2 {
      font-size: 2.8rem;
      color: var(--color-primary-pink-old-dark);
      margin-bottom: 0.5rem;
    }
  
    .subtext {
      font-size: 1.1rem;
      color: var(--color-primary-dark-cream);
      margin-bottom: 2rem;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    }
  
    form {
      max-width: 500px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
  
      input,
      textarea {
        padding: 0.9rem 1rem;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 8px;
        transition: border-color 0.3s ease;
  
        &:focus {
          outline: none;
          border-color: var(--color-primary-pink-old-dark);
        }
      }
  
      textarea {
        resize: vertical;
      }
  
      button {
        background-color: var(--color-primary-pink-old-dark);
        color: white;
        border: none;
        padding: 0.9rem;
        font-size: 1rem;
        border-radius: 8px;
        cursor: pointer;
        transition: background 0.3s ease;
  
        &:hover {
          background: lighten(#855052, 10%);
        }
      }
    }
  

  
    @media (max-width: 768px) {
      form {
        width: 100%;
        padding: 0 1rem;
      }
  
      h2 {
        font-size: 2.2rem;
      }
  
      .subtext {
        font-size: 1rem;
      }
    }

    .popup {
      position: fixed;
      top: 0; left: 0;
      width: 100vw;
      height: 100vh;
      background: rgba(0,0,0,0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 999;
    
      .popup-content {
        background: white;
        padding: 2rem 3rem;
        border-radius: 12px;
        position: relative;
        max-width: 400px;
        text-align: center;
      }
    
      .close-btn {
        position: absolute;
        top: 5px;
        right: 12px;
        border: none;
        background: none;
        font-size: 2rem;
        cursor: pointer;
        color: #444;
    
        &:hover {
          color: #000;
        }
      }
    }
    
    
  }
  